PORT=4000
NODE_ENV=development
APP_NAME=VendorCenter
DB_HOST=localhost
DB_PORT=5432
DB_NAME=vendorcenter
DB_USER=postgres
DB_PASSWORD=258025
JWT_ACCESS_SECRET=change_me_access
JWT_REFRESH_SECRET=change_me_refresh
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
OTP_LENGTH=6
OTP_EXPIRY_MINUTES=5
OTP_MAX_ATTEMPTS=5
